body {background: #ffb457}




/* Настройка для красивого меню */

html {

    box-sizing: border-box;
    --bgColorMenu : #1d1d27;
    --duration: .7s;

}

html *,
html *::before,
html *::after {

    box-sizing: inherit;

}


.menu{
    top: -5px;
    right: -1140px;
    display: flex;
    /* Works well with 100% width  */
    width: 950px;
    font-size: 22px;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #333;
    }
a {
    color: aliceblue;
    padding: inherit;
}

.menu__item{

    all: unset;
    flex-grow: 1;
    display: flex;
    padding: 0.55em;
    transition: transform var(--timeOut , var(--duration));

}


/* Эта штука отвечает за плавность*/
.menu__item.active {

    transform: translate3d(0, -.8em , 0);
}


