body {background: #ffb457;
    line-height: normal;
    font-weight: 400;
    }
html *,html *::before,html *::after {
    padding: 0;
    margin: 0;
}


/* Настройка для красивого меню */
/* Это настройка шапки */
.menu{
    --duration: .5s;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 50px;
    }
a {
    font-size: 19px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
   }

/* Тут настройка анимации */
.menu__item{

    all: unset;
    flex-grow: 1;
    display: flex;
    padding: 0.55em;
    transition: transform var(--timeOut , var(--duration));
}

/* Эта штука отвечает за плавность*/

.menu__item.active {

    transform: translate3d(0, -.8em , 0);
}
